* {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body {
  box-sizing: border-box;
  height: 100vh;
  background-image: url("./images/Banner_hrz2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.nav_banner {
  display: flex;
  background-color: rgb(59, 59, 59);
  height: 10vh;
  min-height: 75px;
  width: 100%;
}
.side_banner {
  position: absolute;
  background-color: rgb(59, 59, 59);
  top: 10vh;
  height: 90vh;
  width: 100px;
  z-index: 5;
}
.side_banner_right {
  position: absolute;
  background-color: rgb(59, 59, 59);
  top: 10vh;
  right: 0;
  height: 90vh;
  width: 100px;
  z-index: 5;
}
.about_tag {
  display: block;
  z-index: 5000;
  text-decoration: none;
  text-align: center;
  color: black;
  height: 20px;
  width: 125px;
  /* margin-top: 30px; */
  margin-right: 20px;
  margin-left: 10px;
  padding: 5px;
  background-color: azure;
  border: 2px solid grey;
  border-radius: 5px;
  transition: opacity 0.2s;
}
.about_tag:hover {
  opacity: 0.6;
}
.profile_pic {
  box-sizing: border-box;
  height: 10vh;
  min-height: 75px;
  margin: 0 auto;
  width: auto;
  border-radius: 50%;
}
.logo_pic_head {
  margin: 0 auto;
  min-height: 75px;
  height: 10vh;
}

.search_container {
  display: flex;
  background-color: rgb(135, 176, 222);
  padding-left: 200px;
  min-height: 25px;
  align-items: center;
  height: 5vh;
}
.search_container label {
  font-weight: 900;
  color: white;
}

.search_filter {
  height: 25px;
  border: 2px solid grey;
  border-radius: 5px;
  background-color: azure;
}

.gallery_container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  background-color: rgba(158, 158, 158, 0.9);
  gap: 10vh 10vw;
  justify-content: center;
  overflow-y: scroll;
  margin: 0 100px;
  height: 85vh;
  border: 2px solid rgb(124, 124, 124);
}
.glass_object {
  box-sizing: border-box;
  border: 5px solid black;
  transition: border-color 1s;
  height: 354px;
}
.glass_object:hover {
  border-color: rgba(240, 248, 255, 0.5);
  cursor: pointer;
}
.glass_info {
  padding: 5px;
  background-color: black;
  color: aliceblue;
}
.about_container {
  box-sizing: border-box;
  text-align: center;
  background-color: rgba(245, 245, 245, 0.9);
  margin: 0 100px;
  height: 90vh;
  border: 2px solid rgb(255, 255, 255);
}
.about_text {
  margin: 0 auto;
  padding-top: 25vh;
  width: 50vw;
}

.glass_footer {
  display: grid;
  grid-template-columns: 300px auto;
  background-color: rgb(135, 176, 222);
  height: 400px;
}
.about_footer {
  background-color: rgb(135, 176, 222);
  height: 300px;
}
.logo_pic_footer {
  height: 250px;
  margin-top: 75px;
  margin-left: 20px;
  box-shadow: 5px 6px 10px 7.5px rgba(75, 75, 75, 0.5);
}

/* Contact Form */
.contact_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.contact_form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px 0px;
  width: 75%;
}
.contact_form input,
.contact_form textarea,
.contact_form button {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  box-sizing: border-box;
  justify-self: center;
  padding: 5px;
  resize: none;
  width: 70%;
  max-width: 400px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 5px 6px 10px 7.5px rgba(75, 75, 75, 0.5);
}
.contact_form .style_recap {
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 5px 6px 10px 7.5px rgba(75, 75, 75, 0.5);
}
.contact_form label {
  font-weight: 800;
  justify-self: end;
}
.contact_form div {
  grid-column: 2 / 3;
  justify-self: center;
}

.contact_form textarea {
  height: 100px;
}
.contact_form button {
  height: 30px;
  width: 50px;
  cursor: pointer;
  align-self: center;
  grid-column: 2 / 3;
}

/* Pop Up Window */
#popUp_window {
  display: none;
}
.popUp_window {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.85);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider .exit_button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0%;
  top: 0%;
  margin: -15px 0 0 -25px;
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  background-color: #fff;
  opacity: 0.5;
  z-index: 5000;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  font-size: 25px !important;
  font-weight: 900 !important;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.slider .exit_button:hover {
  opacity: 1;
}
