* {
  margin: 0;
}
body {
  box-sizing: border-box;
  height: 100vh;
  background-image: url("./images/BG1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.nav_banner {
  display: flex;
  background-image: url(./images/Banner_hrz_X4.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 10vh;
  width: 100%;
}
.side_banner {
  position: absolute;
  background-image: url(./images/Banner_vrt_X4.png);
  background-size: cover;
  background-repeat: no-repeat;
  top: 10vh;
  height: 90vh;
  width: 100px;
  z-index: 5;
}
.about_tag {
  display: block;
  text-decoration: none;
  color: black;
  height: 20px;
  margin-top: 30px;
  margin-right: 20px;
  padding: 5px;
  background-color: azure;
  border: 2px solid grey;
  border-radius: 5px;
  transition: opacity 0.2s;
}
.about_tag:hover {
  opacity: 0.6;
}
.profile_pic {
  box-sizing: border-box;
  height: 10vh;
  width: auto;
  border: 5px double rgba(0, 0, 0, 0.2);
  border-radius: 100px;
}

.search_container {
  display: flex;
  background-color: burlywood;
  padding-left: 200px;
  min-height: 25px;
  align-items: center;
  height: 5vh;
  /* padding: 10px 0px 10px 200px; */
}
.search_container input {
  width: 400px;
  box-sizing: border-box;
  height: 20px;
  padding: 5px 0 5px 5px;
}
.search_btn {
  margin-left: 10px;
  padding: 0 5px;
  background-color: azure;
  border: 2px solid grey;
  border-radius: 5px;
  transition: opacity 0.2s;
  font-size: 1em;
}
.search_btn:hover {
  cursor: pointer;
  opacity: 0.6;
}

.search_filter {
  display: inline-block;
  margin-left: 200px;
  padding: 5px 0;
}

.gallery_container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  background-color: rgba(245, 245, 245, 0.9);
  gap: 10vh 10vw;
  justify-content: center;
  overflow-y: scroll;
  margin-left: 100px;
  height: 75vh;
  border: 2px solid rgb(255, 255, 255);
}
.glass_object {
  box-sizing: border-box;
  border: 5px solid black;
  transition: border-color 1s;
}
.glass_object:hover {
  border-color: rgba(240, 248, 255, 0.5);
  cursor: pointer;
}
.glass_info {
  padding: 5px;
  background-color: black;
  color: aliceblue;
}
.about_container {
  box-sizing: border-box;
  text-align: center;
  background-color: rgba(245, 245, 245, 0.9);
  overflow-y: scroll;
  margin-left: 100px;
  height: 75vh;
  border: 2px solid rgb(255, 255, 255);
}
.about_text {
  margin: 0 auto;
  padding-top: 25vh;
  width: 50vw;
}

.glass_footer {
  background-color: rgba(0, 0, 0, 0.6);
  height: 10vh;
}
.about_footer {
  background-color: rgba(0, 0, 0, 0.6);
  height: 15vh;
}

/* Pop Up Window */
#popUp_window {
  display: none;
}
.popUp_window {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider .exit_button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0%;
  top: 0%;
  margin: -15px 0 0 -25px;
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  background-color: #fff;
  opacity: 0.5;
  z-index: 5000;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  font-size: 25px !important;
  font-weight: 900 !important;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.slider .exit_button:hover {
  opacity: 1;
}
